{% extends "base.html" %}

{% block meta_title %}Person{% endblock meta_title %}

{% block title %}42 Coffee Cups Test Assignment{% endblock title %}

{% block content %}

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <p>Surname: {{ person.last_name }}</p>
                    <p>Name: {{person.first_name}}</p>
                    <p>Date of birth: {{person.birthday}}</p>
                    <p>Bio: {{person.bio}}</p>
                </td>
                <td>
                    <p>E-mail: {{person.email}}</p>
                    <p>Jabber: {{person.jabber}}</p>
                    <p>Skype: {{person.skype}}</p>
                    <p>Contacts: {{person.other_contacts}}</p>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock content %}
