{% extends "base.html" %}

{% block meta_title %}Requests{% endblock meta_title %}

{% block title %}Requests{% endblock title %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <td>Date, Time: </td><td>Url: </td><td>Cookies: </td>
    </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.date }}</td>
            <td>{{ request.url }}</td>
            <td>{{ request.cookies_dict }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
