{% extends "base.html" %}

{% block meta_title %}Person{% endblock meta_title %}

{% block title %}42 Coffee Cups Test Assignment{% endblock title %}

{% block content %}



    <table>
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr><td>Surname: </td><td>Morhun</td></tr>
                        <tr><td>Name: </td><td>Petro</td></tr>
                        <tr><td>Date of birth: </td><td>Nov. 15. 1969</td></tr>
                        <tr><td>Bio: </td><td>I am Peter Blah, blah, blah</td></tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr><td>E-mail: </td><td>petermorhun@gmail.com</td></tr>
                        <tr><td>Jabber: </td><td>pmorhun@42cc.co</td></tr>
                        <tr><td>Skype: </td><td>p.etros</td></tr>
                        <tr><td>Contacts: </td><td>https://www.facebook.com/petermorhun</td></tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock content %}
