{% extends "base.html" %}

{% block meta_title %}Person{% endblock meta_title %}

{% block title %}42 Coffee Cups Test Assignment{% endblock title %}

{% block content %}

{% for person in persons %}

<table class="table">
    <tbody>
        <tr>
            <td><table>
                    <tr><td>Surname: </td><td>{{ person.last_name }}</td></tr>
                    <tr><td>Name: </td><td>{{ person.first_name }}</td></tr>
                    <tr><td>Date of birth: </td><td>{{ person.birthday }}</td></tr>
                    <tr><td>Bio: </td><td>{{ person.bio }}</td></tr>
                </table>
            </td>
            <td>
                <table>
                    <tr><td>E-mail: </td><td>{{ person.email }}</td></tr>
                    <tr><td>Jabber: </td><td>{{ person.jabber }}</td></tr>
                    <tr><td>Skype: </td><td>{{ person.skype }}</td></tr>
                    <tr><td>Contacts: </td><td>{{ person.contacts }}</td></tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

{% endfor %}
<hr>
<a href="{% url 'all_requests' %}">All request</a>


{% endblock content %}
